body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: "Secular One", sans-serif;
}

.titleBtn {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 30%;
}

.titleBtn .title {
  font-family: "Rubik Marker Hatch";
  font-size: 8vw;
  color: #50aa63;
}

.titleBtn button {
  width: 50%;
  height: 5vh;
  border: none;
  margin-left: 28%;
  margin-top: 10%;
  font-size: 1vw;
  color: #fff;
  background-color: #50aa63;
  border-radius: 100px;
  font-family: "Secular One", sans-serif;
  cursor: pointer;
}

.titleBtn button:hover {
  color: #50aa63;
  background-color: #fff;
  border: 1px solid #50aa63;
}

.questions {
  position: relative;
}

.question-img-1 {
  position: absolute;
  width: 35%;
  height: 150%;
  top: 100%;
  left: 5%;
  transform: rotate(140deg);
  transition: all ease 1s;
}

.question-img-1:hover {
  transform: rotate(30deg);
}

.question-img-2 {
  position: absolute;
  width: 28%;
  height: 130%;
  top: -25%;
  left: 18%;
  transition: all ease 2s;
  transform: rotate(375deg);
}

.question-img-2:hover {
  transform: rotate(250deg);
}

.question-img-3 {
  position: relative;
  width: 25%;
  top: 0%;
  left: -3%;
  transform: rotate(345deg);
  transition: all ease 2s;
}

.question-img-3:hover {
  transform: rotate(0deg);
}
